/* 전체 기본 설정 */
*{
    margin: 0;
    padding: 0;
}

ul, ol {list-style: none;}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('/font/NotoSansKR-Light.woff') format('woff'),
        url('/font/NotoSansKR-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('/font/NotoSansKR-Regular.woff') format('woff'),
        url('/font/NotoSansKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('/font/NotoSansKR-Medium.woff') format('woff'),
        url('/font/NotoSansKR-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #111;
    background-color: #fff;
}

a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* header */
.header-top {
    width: 100%;
    height: 27px;
    background-color: #3F97F6;
}

.header-top .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header-top ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    margin-left: auto;
}

.header-top li {
    position: relative;
    padding-right: 15px;
}

.header-top li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background-color: #FFFFFF4D;
}

.header-top li:last-child {
    padding-right: 0;
}

.header-top li:last-child::after {
    display: none;
}

.header-top li a {
    color: white;
    line-height: 27px;
    font-size: 12px;
    font-weight: 300;
}

.header-main {
    width: 100%;
    height: 77px;
}

.header-main .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 50px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    margin-left: auto;
}

.main-nav li a{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

/* background */
.background {
    width: 100%;
    height: 42px;
    background-color: #ECF2F6;
}

.background .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.sub-nav ul li a{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.sub-nav ul li.active a {
    color: #071F4B;
    font-weight: 400;
}

/* main */
main .container {
    width: 100%;
    max-width: 1200px;
    min-height: 470px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    gap: 60px
}

/* side-nav */
.side-nav {
    width: 210px;
    flex-shrink: 0;
}

.side-nav h2 {
    font-size: 32px;
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid black;
    line-height: 1.5;
}

.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav li a {
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding: 20px;
    color: #333333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.side-nav li.active a {
    background-color: #3F97F6;
    color: white;
}

/* content */
.content {
    flex: 1;
}

.content h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 0 0 7px 0;
    border-bottom: 2px solid #333333;
    line-height: 2;
}

/* main-content */
.main-content {
    line-height: 1;
    margin-bottom: 40px;
}

/* title */
.main-title {
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0 5px;
    padding-left: 6px;
    border-left: 4px solid #145074;
    color: #145074;
}

.main-underline {
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 10px;
}

.main-title:first-of-type {
    margin-top: 0;
}

.sub-title {
    font-size: 15px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 13px;
    color: #0067B3;
}

/* text */
.main-text {
    margin-bottom: 30px;
}

.main-text li {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

/* F&Q style */
.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    border-bottom: 1.5px solid #D8D8D8;
}

.faq-answer {
    display: none;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #ececec;
    border-bottom: 1.5px solid #D8D8D8;
}

.faq-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    font-size: 14px;
    font-weight: 600;
    flex-shrink: 0;
}

.faq-icon.q {
    font-weight: 400;
    color: #ffffff;
    background: #3282D3;
}

.faq-icon.a {
    font-weight: 400;
    color: #ffffff;
    background: #999999;
}

/* 마지막 콘텐츠 간격 줄이기 */
.content .main-content {
    margin-bottom: 40px;
}

.content .main-content:last-of-type {
    margin-bottom: 0;
}

/* footer */
footer {
    margin-top: 120px;
    font-size: 13px;
}

.footer-top {
    background: #1F2838;
}

.footer-top .container {
    width: 100%;
    max-width: 1200px;
    height: 45px;
    margin: 0 auto;
}

.footer-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 45px
}

.footer-top ul li {
    flex: 1;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #FFFFFF;
}

.footer-top ul li:last-child::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #FFFFFF;
}

.footer-top ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    display: block;
}

.footer-bottom {
    background: #19202D;
}

.footer-bottom .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0 20px;
}

.footer-left {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
}

.footer-logo {
    width: 160px;
    height: auto;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.copy {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #A8A9AC;
}

.footer-right {
    position: relative;
    display: inline-block;
}

.footer-right select {
    width: 200px;
    height: 33px;
    background: #121721;
    font-size: 16px;
    font-weight: 400;
    color: #A7A7A9;
    border: 1px solid #121721;
    padding: 5px 20px 5px 20px;
    appearance: none;
    cursor: pointer;
}

.footer-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #A7A7A9;
    pointer-events: none;
}