/* 전체 기본 설정 */
*{
    margin: 0;
    padding: 0;
}

ul, ol {list-style: none;}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('/font/NotoSansKR-Light.woff') format('woff'),
        url('/font/NotoSansKR-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('/font/NotoSansKR-Regular.woff') format('woff'),
        url('/font/NotoSansKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('/font/NotoSansKR-Medium.woff') format('woff'),
        url('/font/NotoSansKR-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #111;
    background-color: #fff;
}

a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* background */
.background {
    width: 100%;
    height: 42px;
    background-color: #ECF2F6;
}

.background .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.sub-nav ul li a{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.sub-nav ul li.active a {
    color: #071F4B;
    font-weight: 400;
}

/* main */
main .container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    gap: 60px
}

/* side-nav */
.side-nav {
    width: 210px;
    flex-shrink: 0;
}

.side-nav h2 {
    font-size: 32px;
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid black;
    line-height: 1.5;
}

.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav li a {
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding: 20px;
    color: #333333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.side-nav li.active a {
    background-color: #3F97F6;
    color: white;
}

/* content */
.content {
    flex: 1;
}

.content h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 0 0 7px 0;
    border-bottom: 2px solid #333333;
    line-height: 2;
}

/* union-content */
.union-main {
    position: relative;
    width: 930px;
    height: 430px;
}

.union-main img {
    display: block;
    width: auto;
    height: auto;
}

/* gradient box */
.union-box {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #145074, #28a745) border-box;
    padding: 25px 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    width: 250px;
}

.union-box h3 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #145074;
}

.union-box p {
    font-size: 18px;
    font-weight: 400;
}

/* union-info */
.union-info {
    position: relative;
    height: auto;
    margin-top: 40px;
    color: #333;
}

.logo-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 180px;
  opacity: 0.5;
  pointer-events: none;
}

p.info-strong {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #145074;
    text-align: left;
}

p.info-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding-bottom: 10px;
}

p.info-last {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 20px;
    color: #145074;
}

/* footer */
footer {
    margin-top: 120px;
    font-size: 13px;
}

.footer-top {
    background: #1F2838;
}

.footer-top .container {
    width: 100%;
    max-width: 1200px;
    height: 45px;
    margin: 0 auto;
}

.footer-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 45px
}

.footer-top ul li {
    flex: 1;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #FFFFFF;
}

.footer-top ul li:last-child::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #FFFFFF;
}

.footer-top ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    display: block;
}

.footer-bottom {
    background: #19202D;
}

.footer-bottom .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0 20px;
}

.footer-left {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
}

.footer-logo {
    width: 160px;
    height: auto;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.copy {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #A8A9AC;
}

.footer-right {
    position: relative;
    display: inline-block;
}

.footer-right select {
    width: 200px;
    height: 33px;
    background: #121721;
    font-size: 16px;
    font-weight: 400;
    color: #A7A7A9;
    border: 1px solid #121721;
    padding: 5px 20px 5px 20px;
    appearance: none;
    cursor: pointer;
}

.footer-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #A7A7A9;
    pointer-events: none;
}